* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
@font-face {
    font-family: "RopaSans";
    src: url("./assets/RopaSans-Regular.ttf") format("truetype");
}
body{
    width:350px;
    font-family: RopaSans;
    font-size:18px;
    height:397px;
}
.heading {
    font-size: 22px;
    text-align: center;
    padding-top:10px;
}

.seperator {
    height: 3px;
    width:100%;
    background-color: #001732;
}
.box {
    width:100%;
    height:40px;
    display:flex;
    align-items: center;
    padding: 0 30px;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
   transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.branch-box {
    background-color:#001732;
    justify-content: space-between;
    height: 50px;
    margin:30px 0;
}
.branch {
    color:hsl(0, 0%, 50%);
    height: 100%;
    line-height: 50px;
    text-align: center;
    width:50px;
 }
.sem-box-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}  
.sem-box {
    flex:1;
    flex-grow: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #001732;
    flex-basis: 60px;
    color:hsl(0, 0%, 50%);
    margin: 10px 10px;
    font-size: 22px;
}
.bottom-box-container {
    display:flex;
    width:100%;
    border: none;
    margin-top: 40px;
}
.bottom-box {
    margin:0;
    padding:0;
    display:flex;
}
.bottom-box-right {
    background-color: #006FF2;
    color:white;
    justify-content: center;
    color:hsl(0, 0%, 50%);
}
.bottom-arrow {
    margin-left: 10px;
}
.bottom-box-left {
    justify-content: center;
    color: white;
}
.selected {
    background-color: #006FF2;
    color:white;
}
.white {
    color:white;
}
.upload-db {
    background-color: #006FF2;
    color:white;
    width:100px;
    padding:auto;
    height: 30px; 
    line-height: 30px;
    text-align: center;
}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
}