* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
@font-face {
    font-family: "RopaSans";
    src: url("./assets/RopaSans-Regular.ttf") format("truetype");
}
body{
    height:400px;
    width:350px;
    font-family: RopaSans;
    font-size:18px;
}
.heading {
    font-size: 22px;
    text-align: center;
    padding-top:10px;
}

.seperator {
    height: 3px;
    width:100%;
    background-color: #001732;
}
.box {
    width:100%;
    height:40px;
    display:flex;
    align-items: center;
    padding: 0 30px;
}
.year-box{
    background-color:lightgrey;
    border:1px solid black;
    margin: 5px 1px;
    margin-bottom: 0px;
    width:348px;
    justify-content: space-between;
}
.year {
    padding:0 20px;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
   transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.bottom-box {
    background-color:#001732;
    justify-content: space-between;
    position: fixed;
    bottom:0px;
    height: 50px;
}
.branch {
    color:white;
    opacity: .5;
}
.semester-container{
    display: flex;
    flex-direction: row;
    margin:0 1px;
    display:none;
}
.semester {
    background-color: hsl(0, 0%, 93%);
    justify-content: center;
    border:1px solid black;
    border-top: 0;
    text-align: center;
    height:0px;
}
@keyframes dropdown {
    from {height:0;
    }
    to {
        height:50px;
    }
}
.animate{
    animation-name: dropdown;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.flex {
    display:flex;
}
.none{
    display:none;
}